#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style: none;
  padding: 0;
}

ol {
  counter-reset: section;
  list-style: none;
}

[role='menuitem'] {
  display: block;
  padding: 0.5rem;
}
.Nav-item {
  position: relative;
  display: block;
}
.Nav-item ul {
  visibility: hidden;
  width: 10rem;
  border: 1px solid rgba(0, 0, 0.8);
}

.Nav-item:focus,
.Nav-item:hover {
  > ul {
    visibility: visible;
  }
}
.Nav-item ul:has(:focus) {
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
}

.Submenu {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 0;
  z-index: 1;
  .Submenu {
    inset-block-start: 0;
    inset-inline-start: 100%;
  }
}

ol li:not(:has(> h3)) {
  counter-increment: decimal;
  counter-increment: section;
  margin-inline-start: 1.2rem;
}

ol li:not(:has(> h3))::marker {
  content: counters(section, '.', decimal) '. ';
}

hr {
  border: 0;
  height: 1px;
  /* box-shadow: 0 0 0 1px var(--border-primary);*/
  background-image: linear-gradient(
    to right,
    hsla(var(--border-primary), 0.7),
    hsla(var(--border-primary), 1),
    hsla(var(--border-primary), 0.7)
  );
  margin-block: 2rem;
}

.tablist {
  display: flex;
  gap: 10px;
}
.Navlist {
  display: flex;
  gap: 10px;
}

.Submenu {
}
