:root {
  --text-primary: hsla(360, 100%, 0%, 1);
  --bg-color-primary: hsla(360, 100%, 100%, 1);
  --bg-color-secondary: 232, 7%, 52%;
  --border-primary: 225, 7%, 20%;

  color-scheme: light dark;
  font-family: 'Helvetica', 'Gill Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: hsla(360, 100%, 100%, 1);
    --bg-color-primary: hsla(360, 100%, 0%, 1);
    --bg-color-secondary: 232, 7%, 32%;
    --border-primary: 225, 7%, 20%;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
  background-color: hsla(var(--bg-color-secondary), 1);
  border: 0;
  appearance: none;
  padding: 0.5rem;
}
button:hover {
  background-color: hsla(var(--border-primary), 1);
}
button:focus {
  outline-offset: 4px;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-color-primary);
  line-height: 1.5;
  margin: 2rem;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ol {
  counter-reset: section;
  list-style: none;
}

li {
}

ol li:not(:has(> h3)) {
  counter-increment: decimal;
  counter-increment: section;
  margin-inline-start: 1.2rem;
}

ol li:not(:has(> h3))::marker {
  content: counters(section, '.', decimal) '. ';
}

h3 {
}

hr {
  border: 0;
  height: 1px;
  /* box-shadow: 0 0 0 1px var(--border-primary);*/
  background-image: linear-gradient(
    to right,
    hsla(var(--border-primary), 0.7),
    hsla(var(--border-primary), 1),
    hsla(var(--border-primary), 0.7)
  );
  margin-block: 2rem;
}

.tablist {
  display: flex;
  gap: 10px;
}
.Navlist {
  display: flex;
  gap: 10px;
}

.Submenu {
}
