:root {
  --text-primary: hsla(360, 100%, 0%, 1);
  --bg-color-primary: hsla(360, 100%, 100%, 1);
  --border-primary: 225, 7%, 20%;
  color-scheme: light dark;
  font-family: 'Helvetica', 'Gill Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: hsla(360, 100%, 100%, 1);
    --bg-color-primary: hsla(360, 100%, 0%, 1);
    --border-primary: 225, 7%, 20%;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-color-primary);
  line-height: 1.5;
  margin: 2rem;
}

ul {
  counter-reset: section;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
}
li:not(:has(> h3)) {
  counter-increment: decimal;
  counter-increment: section;
  margin-inline-start: 1.2rem;
}

li:not(:has(> h3))::marker {
  content: counters(section, '.', decimal) '. ';
}

h3 {
}

hr {
  border: 0;
  height: 1px;
  /* box-shadow: 0 0 0 1px var(--border-primary);*/
  background-image: linear-gradient(
    to right,
    hsla(var(--border-primary), 0.7),
    hsla(var(--border-primary), 1),
    hsla(var(--border-primary), 0.7)
  );
  margin-block: 2rem;
}
